.content {
  width: 1200px;
}

.wrapper {
  background-color: #5C8949;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
}

.button {
  margin: auto;
  background-color: #caf78fa1;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  border: none;
}
